<!doctype html>
<html>
<head>
  <title>Oiivoy</title>
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/unsemantic-grid-responsive.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1 id="logo" class="purple grid-10 suffix-60">Oiivoy</h1>
    <a href="/login" ><span class="fa fa-user"></span>Login</a>
    <a href="/signup" id="join"><span class="fa fa-user"></span>Join</a>
  </header>
  <div class="container main">
    <section class= "headline grid-70 prefix-15 suffix-15">
      <h1><span class="fa fa-lock">Automated Money Management</h1></span>
      <h2>We help freelancers and independent contractors manage their cash flow and prepare for taxes.</h2>
    </section>
    <button id="mainbutton">Join Oiivoy</button>
    <p class="small">By clicking this button, you agree to our Terms of Service and Privacy Policy<p>
  </div>
</body>
</html>
